<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,413},{66,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2014},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>button_Guess_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1924},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>button_Guess_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1834},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>button_Guess_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1834},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>button_add_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,481},{52,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,481},{52,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_add_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,481},{52,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_disable_store - 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,483},{52,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_normal_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,483},{52,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_selected_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,483},{52,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1730},{158,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,218}}</string>
                <key>sourceSize</key>
                <string>{158,218}</string>
            </dict>
            <key>button_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1730},{158,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,218}}</string>
                <key>sourceSize</key>
                <string>{158,218}</string>
            </dict>
            <key>button_start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{158,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,218}}</string>
                <key>sourceSize</key>
                <string>{158,218}</string>
            </dict>
            <key>button_sub_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,427},{54,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_sub_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,427},{54,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_sub_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,427},{54,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,535},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>danci_qiankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1950},{238,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>daoju_jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,252},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>daoju_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,304},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,341},{66,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,70}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,172},{160,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,46}}</string>
                <key>sourceSize</key>
                <string>{160,46}</string>
            </dict>
            <key>jiansu_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{236,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{236,84}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>jiansu_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{236,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{236,84}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>jiansut_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{236,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{236,84}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>jingyan_LV_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,262},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>jingyan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,88},{270,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,16}}</string>
                <key>sourceSize</key>
                <string>{270,16}</string>
            </dict>
            <key>jingyankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2},{302,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,46}}</string>
                <key>sourceSize</key>
                <string>{302,46}</string>
            </dict>
            <key>laohu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1938},{102,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1730},{102,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,420},{88,72}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{88,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1834},{102,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,332},{90,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{90,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,252},{108,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{108,78}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,172},{76,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{76,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,494},{84,82}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{84,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1938},{102,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1730},{104,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{104,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1834},{102,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>qiankuang_264_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,106},{264,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,64}}</string>
                <key>sourceSize</key>
                <string>{264,64}</string>
            </dict>
            <key>scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,220},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>shanshuo_1_gk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,556},{640,552}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{640,552}}</string>
                <key>sourceSize</key>
                <string>{640,594}</string>
            </dict>
            <key>shanshuo_2_gk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{640,552}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{640,552}}</string>
                <key>sourceSize</key>
                <string>{640,594}</string>
            </dict>
            <key>slot_zhegai_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1110},{581,410}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{581,410}}</string>
                <key>sourceSize</key>
                <string>{585,412}</string>
            </dict>
            <key>slot_zhegai_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{640,588}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{640,588}}</string>
                <key>sourceSize</key>
                <string>{640,594}</string>
            </dict>
            <key>table.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,355},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,70}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2014},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>yajin_qiankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1950},{238,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_gk4_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f8870bb27fe23662f4b88e51148b479$</string>
            <key>textureFileName</key>
            <string>pic_gk4_1.png</string>
        </dict>
    </dict>
</plist>
