<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>kuang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,119},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>xian_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2034},{560,6}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,201},{560,6}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2026},{560,6}}</string>
                <key>offset</key>
                <string>{0,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{560,6}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{560,264}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{560,264}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1300},{560,146}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{560,146}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{560,72}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,228},{560,72}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{560,142}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{560,142}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1802},{560,140}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,217},{560,140}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1304},{560,144}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{560,144}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1534},{560,136}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,208},{560,136}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{560,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{560,248}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,888},{560,252}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{560,252}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,608},{560,272}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{560,272}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{560,6}}</string>
                <key>offset</key>
                <string>{0,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,324},{560,6}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,316},{560,290}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{560,290}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{560,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{560,248}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,882},{560,260}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{560,260}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{560,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{560,278}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{560,328}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{560,328}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{558,266}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{558,266}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,332},{560,284}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{560,284}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1142},{560,160}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{560,160}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1144},{560,154}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{560,154}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,340}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{560,340}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{560,312}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{560,312}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
            <key>xian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,618},{560,268}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{560,268}}</string>
                <key>sourceSize</key>
                <string>{560,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_xian_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82197b64c23d1cdf3d1b16ce98e3d601$</string>
            <key>textureFileName</key>
            <string>pic_xian_1.png</string>
        </dict>
    </dict>
</plist>
