<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangshi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{104,48}}</string>
                <key>offset</key>
                <string>{-180,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{104,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{104,48}}</string>
                <key>offset</key>
                <string>{-180,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{104,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{108,48}}</string>
                <key>offset</key>
                <string>{-178,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{108,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{140,88}}</string>
                <key>offset</key>
                <string>{-178,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,234},{140,88}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,90}}</string>
                <key>offset</key>
                <string>{-178,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,234},{140,90}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,90}}</string>
                <key>offset</key>
                <string>{-178,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,234},{140,90}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{140,88}}</string>
                <key>offset</key>
                <string>{-178,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,234},{140,88}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,52},{104,48}}</string>
                <key>offset</key>
                <string>{-180,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{104,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{104,48}}</string>
                <key>offset</key>
                <string>{-180,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{104,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{104,48}}</string>
                <key>offset</key>
                <string>{-180,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{104,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{104,48}}</string>
                <key>offset</key>
                <string>{-180,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{104,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,102},{104,48}}</string>
                <key>offset</key>
                <string>{-180,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{104,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{108,48}}</string>
                <key>offset</key>
                <string>{-178,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{108,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{108,48}}</string>
                <key>offset</key>
                <string>{-178,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{108,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{108,48}}</string>
                <key>offset</key>
                <string>{-178,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{108,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{108,48}}</string>
                <key>offset</key>
                <string>{-178,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,260},{108,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_shanshuo_gk3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40cfd3f644f2c30d3dac357ac9e52b63$</string>
            <key>textureFileName</key>
            <string>pic_shanshuo_gk3.png</string>
        </dict>
    </dict>
</plist>
