<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangshi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,164},{124,158}}</string>
                <key>offset</key>
                <string>{-33,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,161},{124,158}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{126,158}}</string>
                <key>offset</key>
                <string>{-34,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,161},{126,158}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,160}}</string>
                <key>offset</key>
                <string>{-35,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,161},{128,160}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,164},{124,158}}</string>
                <key>offset</key>
                <string>{-33,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,161},{124,158}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{126,158}}</string>
                <key>offset</key>
                <string>{-34,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,161},{126,158}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,160}}</string>
                <key>offset</key>
                <string>{-35,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,161},{128,160}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,164},{124,158}}</string>
                <key>offset</key>
                <string>{-33,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,161},{124,158}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{126,158}}</string>
                <key>offset</key>
                <string>{-34,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,161},{126,158}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,160}}</string>
                <key>offset</key>
                <string>{-35,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,161},{128,160}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>jiangshi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,164},{124,158}}</string>
                <key>offset</key>
                <string>{-33,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,161},{124,158}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_shanshuo_gk4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0bef553fc65fc11d407b5c2b1c0cf07$</string>
            <key>textureFileName</key>
            <string>pic_shanshuo_gk4.png</string>
        </dict>
    </dict>
</plist>
