<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1953},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,34},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>button_Guess_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,202},{224,98}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{224,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>button_Guess_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,150},{224,98}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{224,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>button_Guess_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,150},{224,98}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{224,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>button_add_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1895},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1895},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_add_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1895},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_disable_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1897},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_normal_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1897},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_selected_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1897},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1787},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>button_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1787},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>button_start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>button_sub_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1897},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_sub_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1897},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_sub_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1897},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>danci_qiankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,50},{250,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>daoju_jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1895},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>daoju_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1953},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,250},{160,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,46}}</string>
                <key>sourceSize</key>
                <string>{160,46}</string>
            </dict>
            <key>jiansu_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,2},{250,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>jiansu_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,2},{250,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>jiansut_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,2},{250,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>jingyan_LV_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1953},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>jingyan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2027},{270,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,16}}</string>
                <key>sourceSize</key>
                <string>{270,16}</string>
            </dict>
            <key>jingyankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,2},{302,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,46}}</string>
                <key>sourceSize</key>
                <string>{302,46}</string>
            </dict>
            <key>laohu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,98},{110,102}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{110,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,308},{100,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{100,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1953},{88,72}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{88,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,202},{100,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{100,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1787},{92,106}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{92,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1953},{98,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{98,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1953},{94,92}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{94,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,298},{94,96}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{94,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,202},{100,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{100,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1787},{100,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{100,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,414},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{100,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>qiankuang_264_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1951},{264,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,64}}</string>
                <key>sourceSize</key>
                <string>{264,64}</string>
            </dict>
            <key>scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>slot_zhegai_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{616,434}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,434}}</string>
                <key>sourceSize</key>
                <string>{616,436}</string>
            </dict>
            <key>slot_zhegai_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{640,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,645}}</string>
                <key>sourceSize</key>
                <string>{640,645}</string>
            </dict>
            <key>table.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1953},{66,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,66},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>yajin_qiankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,102},{250,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_gk3_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d0e50e5966db090930c3fe2ff0e5956$</string>
            <key>textureFileName</key>
            <string>pic_gk3_1.png</string>
        </dict>
    </dict>
</plist>
