<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,70}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2011},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>button_Guess_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1809},{230,94}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{230,94}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>button_Guess_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1809},{230,94}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{230,94}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>button_Guess_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1809},{230,94}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{230,94}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>button_add_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,330},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,330},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_add_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,330},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_disable_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,274},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_normal_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,274},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_selected_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,274},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1707},{176,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>button_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1707},{176,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>button_start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1707},{176,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>button_sub_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,218},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_sub_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,218},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_sub_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,218},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>danci_qiankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1907},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>daoju_jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,386},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>daoju_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,146},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,50},{160,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,46}}</string>
                <key>sourceSize</key>
                <string>{160,46}</string>
            </dict>
            <key>jiansu_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1905},{240,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,98}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>jiansu_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1905},{240,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,98}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>jiansut_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1905},{240,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,98}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>jingyan_LV_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,264},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>jingyan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2009},{270,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,16}}</string>
                <key>sourceSize</key>
                <string>{270,16}</string>
            </dict>
            <key>jingyankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{302,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,46}}</string>
                <key>sourceSize</key>
                <string>{302,46}</string>
            </dict>
            <key>laohu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1907},{96,106}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1905},{96,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{96,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,190},{88,72}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{88,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1905},{96,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,50},{106,90}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{106,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,98},{102,90}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{102,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,188},{98,90}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{98,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,102},{100,84}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{100,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1907},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{96,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1905},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1907},{98,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{98,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>qiankuang_264_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,343},{264,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,64}}</string>
                <key>sourceSize</key>
                <string>{264,64}</string>
            </dict>
            <key>scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2011},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>slot_zhegai_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{586,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,429}}</string>
                <key>sourceSize</key>
                <string>{586,429}</string>
            </dict>
            <key>slot_zhegai_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{640,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,565}}</string>
                <key>sourceSize</key>
                <string>{640,565}</string>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2009},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,74},{66,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,70}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2015},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>yajin_qiankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1707},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_gk1_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2611d227e222debdd99f9601ad704bc3$</string>
            <key>textureFileName</key>
            <string>pic_gk1_1.png</string>
        </dict>
    </dict>
</plist>
