<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1957},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,82},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>button_Guess_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,436},{200,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,92}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>button_Guess_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,586},{200,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,92}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>button_Guess_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,586},{200,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,92}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>button_add_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,160},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,160},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_add_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,160},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_disablel_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,50},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_normal_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,50},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_selected_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,50},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>button_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,342},{260,290}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{260,290}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>button_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,96},{260,290}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{260,290}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>button_start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,50},{260,290}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{260,290}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>button_sub_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,106},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_sub_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,106},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>button_sub_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,106},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,266},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>danci_qiankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,486},{226,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{226,98}}</string>
                <key>sourceSize</key>
                <string>{226,100}</string>
            </dict>
            <key>daoju_jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,214},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>daoju_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,316},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1957},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{160,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,46}}</string>
                <key>sourceSize</key>
                <string>{160,46}</string>
            </dict>
            <key>jiansu_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,388},{260,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,96}}</string>
                <key>sourceSize</key>
                <string>{260,96}</string>
            </dict>
            <key>jiansu_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,388},{260,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,96}}</string>
                <key>sourceSize</key>
                <string>{260,96}</string>
            </dict>
            <key>jiansut_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,388},{260,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,96}}</string>
                <key>sourceSize</key>
                <string>{260,96}</string>
            </dict>
            <key>jingyan_LV_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1957},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>jingyan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2029},{270,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,16}}</string>
                <key>sourceSize</key>
                <string>{270,16}</string>
            </dict>
            <key>jingyankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,2},{302,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,46}}</string>
                <key>sourceSize</key>
                <string>{302,46}</string>
            </dict>
            <key>laohu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,296},{92,90}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{92,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1957},{94,88}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{94,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1957},{88,72}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{88,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1957},{90,88}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{90,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,344},{98,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{98,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,244},{102,98}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{102,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,96},{98,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{98,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,146},{104,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{104,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,500},{90,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{90,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,192},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>laohu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,388},{90,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>qiankuang_264_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1957},{264,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,64}}</string>
                <key>sourceSize</key>
                <string>{264,64}</string>
            </dict>
            <key>scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,50},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>slot_zhegai_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{584,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,432}}</string>
                <key>sourceSize</key>
                <string>{584,432}</string>
            </dict>
            <key>slot_zhegai_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{640,815}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,815}}</string>
                <key>sourceSize</key>
                <string>{640,815}</string>
            </dict>
            <key>table.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1957},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,114},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>yajin_qiankuang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,2},{270,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{270,92}}</string>
                <key>sourceSize</key>
                <string>{270,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_gk2_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ae81d3938f4a69f58540b4671116b27$</string>
            <key>textureFileName</key>
            <string>pic_gk2_1.png</string>
        </dict>
    </dict>
</plist>
