<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dutu-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{78,104}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{78,104}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>dutu-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{84,104}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{84,104}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>dutu-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,104}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{96,104}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>dutu-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,108},{84,104}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{84,104}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>dutu-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,108},{78,104}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{78,104}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dutu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7bf4ee8aae4e20c461f8858a22bcaf0$</string>
            <key>textureFileName</key>
            <string>dutu.png</string>
        </dict>
    </dict>
</plist>
